h2 {
    font-weight: 700;
    color: #00ff6a;
}

/* Image des cartes */
.card img {
    height: 180px;
    object-fit: cover;
}

/* Hover animation */
.card-hover {
    transition: transform .25s, box-shadow .25s;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
